<nav class="navbar navbar dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Apple Hotel</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="clickable" (click)="onSelectedHotels() ">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hotels
          <span class="caret"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span><strong> Reservation </strong></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <strong> Login</strong></a></li>
    </ul>

  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="villes">
      <li [ngClass]="courantVille==c?'active':''"  (click)=" getHotelsByCities(c)" class="list-group-item clickable" *ngFor="let c of villes._embedded.villes">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
</div>
